.blog-footer{
    padding: 5px 14px;
    margin: 6px 350px;
    text-align: center;
}

#ifsc{
    text-align: center;
}

*{
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    box-sizing: border-box;
}

h3{
    color: white;
    text-align: center;
}

h5{
    color: white;
}

h6{
    color: white;
}

.pallalax{
    background: url('/SampleWebsite1/static/img/bgfeature2.jpg')no-repeat center center/cover fixed;
}

.pallalax2{
    background: url('/SampleWebsite1/static/img/bgfeature3.jpg')no-repeat center center/cover fixed;
}

.pallalax2-inner{
    padding-top: 10%;
    padding-bottom: 10%;
}

.row,.aInfo, p, ul li a{
    color: white;
    text-decoration: none;
}
